@model IEnumerable<ControlFilteredResults.Models.FileList>

@{
    ViewData["Title"] = "Poco Index";
}

<h2>Poco Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Component" asp-route-id="@item.Id">Component</a> |
                <a asp-action="Direct" asp-route-id="@item.Id">Direct</a> |
                <a asp-action="Indirect" asp-route-id="@item.Id">Indirect</a>
            </td>
        </tr>
    }
    </tbody>
</table>
